name: Java CI

on:
  push:
    paths-ignore:
      - '*.md'
      - '**/*.md'
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  build-maven:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - run: mvn -version
      - run: mvn --batch-mode --update-snapshots verify